@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
.header{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0; 
    left:0;
    z-index: 1000;
    padding: 10px;
    background:#fff;
    box-shadow: 0 10px 16px rgba(0,0,0,.1);
    /* opacity: 0.5; */
}
.sidebar{
    position: fixed;
    width: 240px;
    left: -245px;
    top: 8%;
    height: auto;
    background: #fff;
    transition: all .5s ease;
}
.sidebar header{
    font-size: 28px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #1b1b1b;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}
.sidebar a{
    display: block;
    height: auto;
    width: 100%;
    padding: 10px 0;
    color: black;
    /* line-height: 65px; */
    padding-left: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    border-left: 5px solid transparent;
    font-family: 'Open Sans', sans-serif;
    transition: all .5s ease;
}
a:hover{
    color: #b93632;
}
.sidebar a i{
    font-size: 23px;
    margin-right: 16px;
}
.sidebar a span{
    letter-spacing: 1px;
    text-transform: uppercase;
}
#check{
    display: none;
}
label #btn,label #cancel{
    position: absolute;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    border: 1px solid #262626;
    left: 70px;
    top: 32%;
    font-size: 29px;
    background: #262626;
    height: 45px;
    width: 45px;
    text-align: center;
    line-height: 45px;
    transition: all .5s ease;
}
label #cancel{
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ .sidebar{
    left: 0;
}
#check:checked ~ label #btn{
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}
#check:checked ~ label #cancel{
    margin-left: 170px;
    opacity: 1;
    visibility: visible;
}
@media screen and (min-width : 2560px){
    label #btn,label #cancel{
        top: 6%;
    }
}

.logo{
    opacity: 1;
    width: 280px;
}
.logo img{
    width: 100%;
}

.banner{
   background-image: url(../image/areas-we-serve.jpg);
   background-size: cover;
   background-position: center center;
   margin-top: 100px;
   height: 80vh;
   width: 100%;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    margin: 20px 0;
}

.accordion{
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 1200px;
    background: #fff;
    padding: 10px;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 18%);
}
.accordion .contentbox{
    margin: 20px;
    /* width: 300px; */
}
.accordion .contentbox .label{
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}
.accordion .contentbox .content{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}
.accordion .contentbox .content a{
    font-size: 12px;
    color: #000;
    font-weight: 300;
    padding: 10px 0;
}
.accordion .contentbox .content a:hover{
    color: #f40000;
}

@media screen and (max-width: 992px) {
    .accordion{
        display: block;
        max-width: 800px;
        width: 80%;
    }
    
    .accordion .contentbox{
        position: relative;
        margin: 10px 20px;
        width: auto;
    }
    
    .accordion .contentbox .label{
        position: relative;
        font-size: 16px;
        padding: 10px;
        /* background: #2694af; */
        color: #f40000;
        cursor: pointer;
        font-weight: 300;
    }
    
    .accordion .contentbox .label::before{
        content: "+";
        position: absolute;
        font-size: 20px;
        color: grey;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 14px;
    }
    
    .accordion .contentbox.active .label::before{
        content: "-";
    }
    
    .accordion .contentbox .content{
        position: relative;
        padding: 0;
        background: #b9b9b9;
        height: 0;
        overflow: hidden;
        transition: 0.5s;
        overflow-y: auto;
    }

    .accordion .contentbox .content a{
        font-size: 16px;
    }
    .accordion .contentbox.active .content{
        height: auto;
        padding: 20px;
        transition: 0.5s;
    }
}
